html {
    height: 100%;
} 
body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
}
.link {
    color: #ff7733;
}
.link:hover {
    text-decoration: none;
    color:   #e64d00;
}
.link:active {
    text-decoration: none;
    color:   #ff7733;
}
.link:visited {
    text-decoration: none;
    color:  #ff7733;
}
